doctype html
html
  head
    title Create category
    include ../head.pug
    style
      include ../../styles/treeselect.css
  body
    include ../breadcrumb.pug
    .container
      form(action='/category/create' method='POST')
        .form-group
          input(
            name='subject[descriptor][translations][0][locale][code]'
            type='hidden'
            value='en_US')
          label(for='name') Name
          input(
            name='subject[descriptor][translations][0][content]'
            type='text'
            value=request.subject.descriptor.translations[0].content || ''
            aria-describedby='nameHelp')#name.form-control
          small#nameHelp.form-text.text-muted Enter the English (en-US) name for the category.
        .form-group
          label(for='parentId') Parent
          select(name='parentId' aria-describedby='parentHelp')#parentId.form-control
            each category in additional.categoryList
              option(value=category.id)= category.subject.translations[0].content
          small#parentHelp.form-text.text-muted Select a parent category (optional).
        button(type='submit').btn.btn-primary Submit

