doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    link(
      rel='stylesheet',
      href=bootstrap.src,
      integrity=bootstrap.sha
      crossorigin='anonymous')
    style.
      #subtitle {
        font-size: 0.6em;
        margin-left: 0.3em;
      }
  body
    nav.breadcrumb
      a(href='/').breadcrumb-item Index
      a(href='/categories').breadcrumb-item Categories
      span.breadcrumb-item.active Create
    .container
      form(action='category/create' method='POST')
        .form-group
          label(for='name') Name
          input(name='name' type='text' aria-describedby='nameHelp')#name.form-control
          small#nameHelp.form-text.text-muted Enter the English (en-US) name for the category.
        .form-group
          label(for='parent') Parent
          input(name='parent' type='text' list='categoryDataList'
            aria-describedby='parentHelp' autocomplete='off')#name.form-control
          datalist#categoryDataList
            each category in categories
              option(value=category.name)= category.id
          small#parentHelp.form-text.text-muted Select a parent category (optional).
        button(type='submit').btn.btn-primary Submit

