doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    link(
      rel="stylesheet",
      href=bootstrap.src,
      integrity=bootstrap.sha
      crossorigin="anonymous")
  body
    .jumbotron
      .container
        h1.display-3 EqDB admin
    .container
      .list-group
        each method in methods
          a(href=method.route).list-group-item.justify-content-between.list-group-item-action= method.name
            if (method.count)
              span.badge.badge-default.badge-pill= method.count
